.AdminContent
	margin-left: 110px
	height: 100vh
	background: #fff
	position: relative

.admin_left_panel
	width: 110px
	height: 100vh
	background-color: #fff
	border-right: 1px solid #ccc
	position: fixed

.admin_menu
	text-align: center
	margin-top: 20px

	li
		padding: 10px 15px
		a
			color: #333
	span
		display: block		

.admin_logo_top
	background: #78a5fe
	color: #000
	float: left

.admin_top
	position: relative
	z-index: 2
	font-size: 17px
	color: #f1f1f1
	width: 100%
	height: 59px
	padding: 0
	letter-spacing: 1px
	background: #eee
	a
		color: #fff
		width: 110px
		text-align: center
		display: inline-block
		height: 59px
		padding: 0 15px
		transition: .4s all
		display: flex
		align-items: center
		justify-content: center
		line-height: 70px
		img
			max-width: 40px

.chart_block
	width: 100%
	margin-bottom: 30px

.settings_bot_wrap
	display: flex
	justify-content: space-around
	max-width: 650px
	overflow: hidden

	.upload_settings
		width: 65%
	.upload_text
		width: 65%
		textarea
			width: 100%
			height: 100%
			padding: 5px 15px
		
.settings_bot_list
	padding: 10px 0 0 0
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	height: calc(100vh - 224px)
.admin_bot
	width: 48%
	margin-bottom: 10px
	border: 1px solid #dedede
	display: inline-block
	margin: 2px 2px
	padding: 0 0 15px 0
	height: 205px

.admin_bot_left
	width: 40%
	height: 100%
	display: inline-block
	vertical-align: bottom
.admin_bot_images
	width: 100%
	opacity: 1
	height: 100%
	// padding: 10px 10px
	display: flex
	img
		max-width: 80%
		max-height: 55%
		margin: auto

.admin_bot_right
	width: 60%
	padding: 0 10px
	display: inline-block
	
.admin_bot_title
	margin-top: 5px
	padding: 5px 0
	display: flex
	width: 100%
	span
		width: 70%
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
	.edit
		width: 20px
		height: 20px
		// background: #000
		display: inline-block
		background: url(/img/edit1.svg) no-repeat center center
		background-size: 18px 18px
		opacity: .7
		border: none
	.delete
		width: 20px
		height: 20px
		// background: #888
		display: inline-block
		background: url(/img/delete.svg) no-repeat center center
		background-size: 18px 18px
		border:  none

.admin_bot_title_icon
	width: 30%

.admin_bot_text
	width: 100%
	height: 100%
	textarea
		width: 100%
		height: 80%
		border: 1px solid #dedede
.bot_right_content
	width: 100%

.fileContainer .uploadPictureContainer
	width: 100%!important
	height: 130px!important

.fileContainer .uploadPictureContainer img.uploadPicture
	width: 65%!important	

.fileUploader
	padding: 0 10px

.upload_settings .ReactGridGallery
	height: 100%
	border: none

.admin_bot_bottom
	display: flex

.admin_bot_bottom_btn
	width: 50%

.admin_bot_title_icon
	width: 50%

.tile
	margin: 0!important	