.wrap_manual
	height: 100vh
	overflow: auto
	background: #eee

.manual
	background: linear-gradient(to right,#5a5af3 1%,#8aa9ff 100%)
	padding: 30px 0 40px 0
	p
		color: white
.header_manual
	display: flex
	align-items: center
	.header_left
		width: 50%
		h1
			font-family: 'CenturyGothic-Bold'
			color: white
			font-size: 35px
			line-height: 35px
		a
			color: white
			text-decoration: none
			&:hover
				text-decoration: none	
	.header_right
		width: 50%
		display: flex
		justify-content: flex-end
		a
			color: white
			font-size: 16px



.list_manual_item
	margin-top: 30px
	li
		border: 1px solid #d4dadf
		margin-bottom: 5px
		transition: all .3s
		background: #fff
		&:hover
			background-color: #eee
		a
			color: #666
			font-size: 25px
			&:hover
				text-decoration: none
			

.item_manual
	display: flex			
	.list_manual_left
		display: flex
		width: 15%
.list_manual_left_image
	padding: 15px 15px
	border-right: 1px solid #d4dadf
	width: 100%
	height: 100%

.manual_build
	background: url(/img/vector.svg) no-repeat center center
	background-size: 45px 45px

.manual_broadcast
	background: url(/img/marketing.svg) no-repeat center center
	background-size: 45px 45px

.manual_configure
	background: url(/img/gear.svg) no-repeat center center
	background-size: 45px 45px
.manual_grow_up
	background: url(/img/ascendant-sort.svg) no-repeat center center
	background-size: 45px 45px
.manual_analyze
	background: url(/img/pie-chart.svg) no-repeat center center
	background-size: 45px 45px





.list_manual_right
	width: 85%

.list_manual_right_content
	padding: 30px 30px
	text-align: left
	h3
		font-size: 20px
		color: #333
	p
		color: #666	

.article_item
	border: 1px solid #ccc
	padding: 20px 30px
	margin-bottom: 5px
	background: #fff
	a
		color: #333


.entry_content
	padding: 30px 20px 40px 20px
	border: 1px solid #eee
	background: #fff
