@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
	.right_add_message_block button
		font-size: 13px

	.topnav_left_navigator .chat_prev
		font-size: 13px	

	//.canvasPanel
	//	height: 91.4vh


@media only screen and (min-width : 1024px)and(max-width: 1024px)
	/**/
	.canvasPanel
		width: 61.5%
    	height: 92.5vh
@media only screen and (min-width : 1280px) and(max-width: 1280px)
	/**/
	.canvasPanel
		width: 68%
		height: 93.1vh
	.canvasPanel .overlay_block
		width: 100%


@media only screen and (min-width : 1366px) and (max-width: 1366px)
	/**/
	.canvasPanel
		height: 92.8vh
		width: 70%
	.canvasPanel .overlay_block
        overflow-y: scroll
        // min-width: 910px
        width: 100%


@media only screen and (min-width : 1500px)
	/**/
	.canvasPanel
		height: 92.5vh
		width: 78.7%


	 .overlay_block
	 	width: 100%

@media only screen and (min-width : 1440px)and(max-width: 1440px)
	/**/
	.canvasPanel .overlay_block
		width: 100%
	.canvasPanel
		height: 91.9vh
		width: 73.5%

@media only screen and (min-width : 1600px)and(max-width: 1600px)
	/**/
	.canvasPanel
		width: 75%
		height: 92.3vh

@media only screen and (min-width : 2000px)
	/**/
	.canvasPanel
		width: 79.1%
		height: 94.6vh