.background_comein
  background: #d1d8fe
  height: 100vh
  padding: 0
  margin: 0
  display: flex
  justify-content: center
  align-items: center

.form_block_login
  background: #fff
  padding: 55px 41px 30px 41px
  width: 425px
  box-sizing: border-box
  box-shadow: 0 20px 40px rgba(0,0,0,.07);
  .facebook
    width: 100%
    span
      width: 100%
  h1
    color: #3d3d3d
    font-size: 27px
    margin-top: 85px
    font-weight: bold
    text-align: center
  p
    color: #9a9a9a
    font-size: 16px
    text-align: center
    margin-bottom: 30px
    margin-top: 10px

.login
  input
    &[type="text"], &[type="email"], &[type="password"]
      width: 100%
      padding: 14px 10px
      box-sizing: border-box
      border: 1px solid #d4d4d4
      transition: all 0.4s
    &[type="text"]:focus, &[type="email"]:focus, &[type="password"]:focus
      outline: none
      border: 1px solid #b5b5b5
      
  .btn_login
    width: 100%
    background: #219d57
    border: none
    color: white
    padding: 12px 0
    font-size: 15px
    font-weight: normal
    cursor: pointer
    border-radius: 2px
    transition: 0.5s all
    &:hover
      background: #1d884c
  .btn_facebook
    width: 100%
    cursor: pointer
    border: none
    font-size: 15px
    background: #4a4ac7
    color: white
    padding: 12px 0
    border-radius: 2px
    transition: .4s all
    &:hover
      background: #4444B5
  span
    color: #9a9a9a
    display: inline-block
    margin-top: 15px
    font-size: 18px
    a
      text-decoration: none
      margin-left: 5px
      color: #817272
      transition: 0.3s all
      &:hover
        color: #606060

.agree
  font-size: 16px
  color: #9a9a9a

.forgot_password
  border: none
  background: none
  color: #606060
  padding: 0
  margin-top: 10px

.block_img
  width: 100%
  text-align: center
  margin: auto

  img
    width: 158px
    height: 173px 


.login_block_form
  display: flex
  flex-direction: column
  text-align: center
  line-height: 1.5
  margin-top: 20px
  a
    color: #333
    line-height: 1
          
.login_txt_reg
  padding: 10px 0
  p
    text-align: center
    font-size: 20px
    margin-bottom: 10px
    font-family: 'CenturyGothic-Bold'
    color: #3d3d3d

.register_agree
    a
      color: #8c8c8c