// tabs
$RbtnColor: #6C7588
$RhoverbtnColor: #5C6374
$PopupColorWhite: #fff
$fzContent: 1.6rem

.bg_shadow
	background-color: $RbtnColor!important
	color: white!important

.popupW
  background-color: $PopupColorWhite


@mixin btn-all
	padding: 10px 25px
	color: #333
	border: 1px solid #dfdfdf
	transition: .2s linear all
	background-color: #FFF
	border-radius: 3px
  border: 1px solid #ddd
	//&:hover
	//	border: 1px solid #dfdfdf * 2
	&:focus
		outline: none
.btn_all.Gactive
  border: 1px solid #5c6374
.btn_all
	@include btn-all


// select api
.api_textarea
    width: 100%
.border_textarea_
  border: 1px solid #d4d4d4    


.userFilter
  display: inline-block
  padding: 0 25px 0 45px
  margin: 0 0 0 14px
  width: auto
  height: 36px
  line-height: 36px
  border-radius: 2px
  background-color: #fff
  font-size: 14px
  color: #333
  border: 1px solid #d0d0d0
  position: relative
  &:before
    content: ''
    position: absolute
    top: 8px
    left: 17px
    width: 18px
    height: 18px
    background: url(/img/user2.svg) no-repeat center center
    background-size: 18px 18px

.sendMessage
  display: inline-block
  padding: 0 45px 0 25px
  margin: 0 20px 0 0
  width: auto
  height: 36px
  line-height: 36px
  border-radius: 2px
  background-color: #ccc
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.07)
  font-size: 14px
  color: #fff
  border: none
  position: relative
  &:before
    content: ''
    position: absolute
    top: 8px
    right: 17px
    width: 18px
    height: 18px
    background: url(/img/send.svg) no-repeat center center
    background-size: 18px 18px

.broadCast_btn
  padding: 15px 0
  display: flex

.btn_save
  display: inline-block
  padding: 0 25px 0 25px
  margin: 0 10px 0 0
  width: auto
  height: 43px
  line-height: 43px
  border-radius: 2px
  background-color: #6c7588
  font-size: 14px
  color: #fff
  position: relative
  transition: all .4s
  border: none
  &:hover
    background-color: $RhoverbtnColor
    


.btn_delete
  display: inline-block
  padding: 0 25px 0 25px
  //margin: 0 20px 0 0
  width: auto
  height: 43px
  line-height: 43px
  border-radius: 2px
  background-color: #fff
  border: 1px solid #d0d0d0
  font-size: 14px
  color: #fff
  position: relative
  transition: all .4s
  &:hover
    box-shadow: 0 5px 11px 0px rgba(0,0,0,0.2)


  &:before
    content: ''
    position: absolute
    top: 50%
    left: 50%
    right: 17px
    width: 18px
    height: 18px
    transform: translate(-50%,-50%)
    background: url(/img/delete.svg) no-repeat center center
    background-size: 18px 18px


.orange-rounded
  background-color: #e9604a
  border: none!important
  color: #fff


.react-tabs__tab-list
  border-bottom: 1px solid #aaa
  margin: 0 0 10px
  padding: 0


.react-tabs__tab
  display: inline-block
  border: 1px solid transparent
  border-bottom: none
  bottom: -1px
  position: relative
  list-style: none
  padding: 6px 12px
  cursor: pointer


.react-tabs__tab--selected
  background: #fff
  border-color: #aaa
  color: black
  border-radius: 5px 5px 0 0


.react-tabs__tab-panel
  display: none

.react-tabs__tab-panel--selected
  display: block


.react-tabs__tab--disabled
  color: GrayText
  cursor: default


.react-tabs__tab:focus
  box-shadow: 0 0 5px hsl(208, 99%, 50%)
  border-color: hsl(208, 99%, 50%)
  outline: none


.react-tabs__tab:focus:after
  content: ""
  position: absolute
  height: 5px
  left: -4px
  right: -4px
  bottom: -5px


.grow_main
  height: calc(100vh - 70px)
  position: relative

  
.grow_height
  box-shadow: none
  padding: 32px 15px
  height: 700px

.ovh
  overflow: hidden



.bubble
  &:before
    display: none!important

.bubble
    border-radius: 2px!important
.img-circle
    display: none!important

.you
  margin-right: none!important

.me
  margin-left: none!important

.chat_rtc
  height: 700px



// style panel build canvas
.top_bot_menu
  background-color: #333
  width: 100%
  padding: 25px 0

.overflow_main_bot
  display: flex
  justify-content: space-between
  height: calc(100vh - 55px)
  width: 100%

.overflow_main_bot_left
  width: 110px
  height: 100vh
  background-color: #fff
  position: fixed

.overflow_main_bot_center
  background: transparent
  background-image: linear-gradient(0deg, transparent 49%, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, .05) 51%, transparent 52%, transparent), linear-gradient(90deg, transparent 49%, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, .15) 51%, transparent 52%, transparent)
  background-size: 25px 25px
  height: calc(100vh - 62px)
  width: 100%
  overflow: scroll
  padding: 0 0 0 110px

.main_bot_center_content
  width: 1600px
  height: 1600px

.overflow_main_bot_right
  background-color: #fff
  height: 100vh
  min-width: 350px


.right_panel_content
  height: 100vh
  position: fixed

// rts

.grid__btn_small
  padding: 7px 15px
  border: none
  transition: all .3s
  border-radius: 3px


.grid__row
  display: flex
  flex-wrap: wrap

.grid__col--3
  flex: 0 0 30%
  max-width: 30%

.grid__col--4
  flex: 0 0 40%
  max-width: 40%

.grid__col--6
  flex: 0 0 60%
  max-width: 60%

.grid__col--7
  flex: 0 0 70%
  max-width: 70%


.grid__align--center
  align-items: center

.grid__text_block
  padding: 25px 25px 25px 25px
  position: relative
  line-height: 1.6
  width: 650px
  margin: auto
  background-color: rgba(224,224,224,.3)
  
.image__icon
  display: flex
  justify-content: center

