@import "fonts"
@import "vars"
@import "register"
@import "broadcast"
@import "manual"
@import "libs"
@import "admin"


// grid
.row__grid
    flex-wrap: wrap
    display: flex
    position: relative
// margin-right: -15px
// margin-left: -15px

.justify__content--between
    justify-content: space-between

.justify__content--end
    justify-content: flex-end

.grid__align--center
    align-items: center

.grid__justify--content
    justify-content: center

// border
.grid__api--delete
    padding: 15px 0
    position: relative
    width: 100%
    display: block
    .close
        position: absolute
        top: 5px
        right: 5px

.grid__br--2
    border-right: 1px solid #effdff
    border-color: #effdff

.grid__bl--2
    border-right: 1px solid #effdff
    border-color: #effdff

.grid_h-100
    height: 100%

.grid_w-100
    width: 100%


.col__1
    flex: 0 0 10%
    max-width: 10%

.col__2
    flex: 0 0 20%
    max-width: 20%

.col__3
    flex: 0 0 30%
    max-width: 30%

.col__4
    flex: 0 0 40%
    max-width: 40%

.col__5
    flex: 0 0 50%
    max-width: 50%

.col__6
    flex: 0 0 60%
    max-width: 60%

.col__7
    flex: 0 0 70%
    max-width: 70%

.col__8
    flex: 0 0 80%
    max-width: 80%

.col__9
    flex: 0 0 90%
    max-width: 90%

.col__10
    flex: 0 0 100%
    max-width: 100%

table
    th
        font-family: CenturyGothic-Bold

.preloader_bots
    position: absolute
    width: 100%
    height: 100%
    background-color: rgba(0,0,0,.7)
    top: 0
    left: 0
    z-index: 9999
    display: flex
    align-items: center
    justify-content: center

.preloader_bots_2
    //padding: 45px 25px 10px 25px
    //margin: 0 auto
    //margin-top: calc((100% /2) - 30%)
    border: none
    min-width: 600px
    max-width: 600px
    position: relative
    text-align: center
    width: auto
    //background: #fff
    z-index: 1000
    overflow: hidden
    transition: opacity .3s linear
.analyse_content
    height: 45rem
    padding: 10px 0 10px 0
    .analyse_content_2
        padding: 25px 25px 10px 25px

label
    font-weight: normal

ul
    list-style-type: none
body
    font-family: 'CenturyGothic'
    padding: 0
    margin: 0
    overflow-y: hidden
    min-width: 1000px
    -webkit-font-smoothing: antialiased

h1
    color: #666

.padding
    padding: 32px 15px

input[type="checkbox"]
    cursor: pointer

.border_img
    border: 1px solid #ccc

form label
    font-weight: normal

.bgc
    background: #e6e6e6!important

.pl_20
    padding: 0 0 0 20px

.fw_b
    font-family: CenturyGothic-Bold
    padding: 0 150px

.mb_15
    margin-bottom: 15px

.mt_5
    margin-top: 5px

.mt_10
    margin-top: 10px

.mt_20
    margin-top: 20px

.mt_15
    margin-top: 15px

.mt_25
    margin-top: 25px

.mt_c15
    margin: 15px 0

.mr_2
    margin-right: 2px

.mr_5
    margin-right: 5px

.mr_10
    margin-right: 10px

.ml_10
    margin-left: 10px

.mb10
    margin-bottom: 10px!important

.pd_15
    padding: 20px 15px 0 15px

ul
    padding: 0
.tac
    text-align: center

.tl
    text-align: left

.tr
    text-align: right

.p0
    padding: 0

.ml__5
    margin-left: 5px!important

.ml__10
    margin-left: 10px!important

.p_user
    padding: 8px 20px!important

.borderR
    border: 1px solid #90B4F6!important

.borderR2
    border: 2px solid #90B4F6!important

.borderRs
    border: 1px solid #90B4F6!important
    
.borderF
    border: 1px solid rgba(0,0,0,.46)    

.pl
    padding: 10px 5px   

.active_border_config
    border: 1px solid rgba(108,117,136, 0.5)!important

.cleat:after
    content: ""
    display: table
    clear: both

.top_help
    padding: 0 20px 0 45px
    font-family: 'CenturyGothic-Bold'
    color: #666
    font-size: 16px
    position: relative

    &:before
        content: ''
        position: absolute
        left: 15px
        top: -3px
        background: url(/img/question-mark-button.svg) no-repeat center center
        width: 25px
        height: 25px
        background-size: 25px 25px
        opacity: 0.9
.pc25
    padding: 0 25px


//style profile Setting

.topnav
    position: relative
    display: flex
    z-index: 2
    font-size: 17px
    color: #f1f1f1
    width: 100%
    min-height: 60px
    letter-spacing: 1px
    background: #eee
    border-bottom: 1px solid rgba(0,0,0,.15)

.topnav_left
    display: flex
    width: 50%

.logo
    background: #78A5FE
    color: black
    float: left
    &:hover
        background: darken(#78A5FE, 0.1)

    a
        color: white
        width: 110px
        text-align: center
        display: inline-block
        height: 59px
        padding: 0 15px
        transition: .4s all
        display: flex
        align-items: center
        justify-content: center
        line-height: 70px
        &:hover
            text-decoration: none
        img
            max-height: 40px

.name_block
    float: left
    span
        display: inline-block
        color: #3d3d3d
        line-height: 55px
        padding: 0 15px
        font-size: 15px


.topnav_left_navigator
    float: left
    position: relative
    width: 100%
    text-align: center
    background: #e6e6e6

    .chat_prev
        line-height: 47px
        color: #333
        position: relative
        width: 100%
        height: 100%
        cursor: pointer
        display: inline-block
        transition: all .4s linear

        &:hover
            text-decoration: none
            background: #e6e6e6

        &::after
           content: ""
           background: url(/img/back.svg) no-repeat center center
           background-size: 20px 20px
           width: 20px
           height: 20px
           position: absolute
           left: 19px
           color: #555
           top: 14px

.topnav_right
    display: flex
    width: 50%
    justify-content: flex-end

.btn_tchatbot
    padding: 8px 21px
    color: #fff
    font-size: 14px
    background: #007feb
    margin-top: 13px
    display: inline-block
    border-radius: 2px
    margin-right: 10px
    transition: all .4s

    &:hover
        text-decoration: none
        color: inherit
        background: #015398!important

.bot_left_panel
    position: fixed
    top: 63px
    background: #fff
    height: 100%
    width: 110px
    text-align: center
    z-index: 999
    display: flex
    flex-direction: column
    //min-height: 768px
    ul
        list-style-type: none
        padding: 0

.block_image
    width: 30px
    height: 30px
    display: inline-block
    background: #888888

.build
    background: url(/img/vector.svg) no-repeat center center
    background-size: 30px 30px

.broadcast
    background: url(/img/marketing.svg) no-repeat center center
    background-size: 30px 30px

.growUp
    background: url(/img/ascendant-sort.svg) no-repeat center center
    background-size: 30px 30px

.configurate
    background: url(/img/gear.svg) no-repeat center center
    background-size: 30px 30px

.analyze
    background: url(/img/pie-chart.svg) no-repeat center center
    background-size: 30px 30px

.user
  background: url(/img/user.svg) no-repeat center center
  background-size: 30px 30px

.page
  background: url(/img/page.svg) no-repeat center center
  background-size: 30px 30px  

.nlu
  background: url(/img/intelect.svg) no-repeat center center
  background-size: 30px 30px  

.rtc
    background: url(/img/speech-bubble.svg) no-repeat center center
    background-size: 30px 30px

.share
    background: url(/img/menu_share.svg) no-repeat center center
    background-size: 30px 30px

.history
    background: url(/img/medical-history.svg) no-repeat center center
    background-size: 30px 30px

.top_navigator
    height: 50%

.top_navigator li
    padding: 10px 0 10px 0
    transition: .4s all linear
    position: relative
    &:hover
        background: #ececec

    &.active
        background: #ececec    

    a
        text-decoration: none
        width: 100%
        height: 100%
        display: inline-block
    span
        display: block
        margin-top: 5px
        color: #5E5E5E


.check_rtc
    position: absolute
    top: 22px
    right: 18px
    color: white!important
    border-radius: 20px
    background-color: #78a5fe
    padding: 0 5px 0 5px
    font-size: 13px

.bot_left_bottom_navigator
    display: flex
    align-items: center
    height: 50%

    ul
        width: 100%

        li
            text-align: center
            position: relative

        li:first-child
            width: 100%
            margin-bottom: 20px


        li:first-child span:first-child
            font-size: 13px
            display: inline-block
            position: absolute
            top: -10px
            right: 17px
            overflow: hidden
            white-space: nowrap
            text-overflow: ellipsis
            max-width: 90%
            display: inline-block
            padding: 0 3px
            background: #78a5fe
            color: white
            border-radius: 20%
            
        a
            color: #5E5E5E
            font-size: 15px
            cursor: pointer
            padding: 4px 0
            display: block



.bottom_navigator_list

.mainContent
    margin-left: 110px
    height: 100vh
    background: #efefef
    position: relative

.btn_setting
    padding: 10px 55px
    background: #7D879A
    border: none
    color: white
    transition: .4s all

    &:hover
        background: #6C7588
        color: white

.CreatePage
    text-align: right
    display: inline-block
    margin-top: 24px

.chat_input
    width: 100%
    padding: 7px 10px
    box-sizing: border-box
    margin: 5px 0
    border: 1px solid #D4D4D4
    transition: all .4s
    &:focus
        outline: none
        border: 1px solid #B5B5B5

// Right Chat bar

.rightPanel
    //position: fixed
    height: calc(100vh - 55px)
    width: 20%
    min-width: 350px
    //right: 0
    overflow: auto
    //top: 0
    background: #fff

.right_container_content
    height: 100%
    padding: 10px 13px
    padding-top: 10px

.button_delete_block
    width: 100%
    padding: 5px 0
    margin-bottom: 20px
    position: relative
    span
        position: absolute
        right: 0
        width: 20px
        height: 20px
        cursor: pointer
        top: 0
        transition: .4s all
        opacity: 0.8
        &:hover
            opacity: 1

        &:before
            position: absolute
            content: ''
            background: url(/img/cross-inside-a-square.svg) no-repeat center center
            background-size: 20px 20px
            width: 20px
            height: 20px

.dred
    background: #eee

.right_group
    .rightNav
        padding: 5px 0 20px 0
        list-style-type: none
        text-align: center
        display: flex
        flex-direction: column
        width: 100%
        li
            transition: .3s all
            cursor: pointer
            position: relative
            display: flex
            &:hover
                background: #eee

    .nameBlock
        width: 70%
        text-align: center
        overflow: hidden
        -o-text-overflow: ellipsis
        text-overflow: ellipsis
        white-space: nowrap
        span
            color: black
            display: inline-block
            width: 100%
            padding: 10px 0 10px 35%

.nameIcon
    width: 30%
    display: flex
    justify-content: center
    .RenameGroup
        font-size: 15px
        right: 40px
        width: 45%
        top: 5px
        background: url(/img/edit.svg) no-repeat center center
        background-size: 18px 18px
        opacity: 1
        display: inline-block

    .DeleteEdit
        right: 5px
        top: 5px
        font-size: 15px
        width: 45%
        display: inline-block
        background: url(/img/cross.svg) no-repeat center center
        background-size: 15px 15px
        opacity: 0.6
        &:hover
            opacity: 0.9


.addGroupBlock
    padding: 5px 0
    text-align: center

.addGroup
    border: none
    padding: 12px 25px
    display: inline-block
    width: 100%
    position: relative
    transition: .4s all

    .addGroupIcon
        position: absolute
        width:  15px
        height: 15px
        left: 85px
        top: 16px
        background:  url(/img/add.svg) no-repeat center center
        background-size: 20px 20px

    &:focus
        outline: none
    &:hover
        background-color: #eee

.right_add_message_block
    padding: 2px 0
    button
        width: 100%
        padding: 12px 0
        display: inline-block
        color: white
        border: none
        border-radius: 3px
        background: $RbtnColor
        transition: 0.4s all
        margin-top: 10px
        position: relative

        &:before
            content: "";
            background: url(/img/new-email.svg) no-repeat center center
            background-size: 20px 20px
            width: 20px
            height: 20px
            position: absolute
            left: 19px
            color: #555
            top: 14px
        &:hover
            background: $RhoverbtnColor
       
.right_add_condition_block
    button
        width: 100%
        padding: 12px 0
        display: inline-block
        color: white
        border: none
        border-radius: 3px
        background: $RbtnColor
        transition: 0.4s all
        margin-top: 10px
        position: relative
        &:before
            content: "";
            background: url(/img/coding.svg) no-repeat center center
            background-size: 20px 20px
            width: 20px
            height: 20px
            position: absolute
            left: 19px
            color: #555
            top: 14px
        &:hover
            background: $RhoverbtnColor


// canva block
.canvasPanel
    width: 79%
    height: 92.3vh
    background: transparent
    background-image: linear-gradient(0deg, transparent 49%, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, .05) 51%, transparent 52%, transparent), linear-gradient(90deg, transparent 49%, rgba(0, 0, 0, .15) 50%, rgba(0, 0, 0, .15) 51%, transparent 52%, transparent)
    background-size: 25px 25px

.initializer
    position: relative
    cursor: grab
    text-align: center
    display: inline-block
    padding: 10px 20px
    margin: 15px 10px
    width: calc((100% / 4) - 25px)
    border-radius: 3px
    background: #fff
    transform: translate(10px, 10px)
    span
        font-size: 20px
        padding: 10px 0
        display: inline-block


.canva-block
    position: relative
    cursor: grab
    text-align: center
    display: inline-block
    padding: 10px 20px
    width: 220px
    height: 120px
    border-radius: 3px
    background: #fff
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    &:target
        border: 2px solid #333
        pointer-events: auto
        transform: translate(78px, 105px)
    &.first
        position: relative

        &:before
            content: ''
            width: 8px
            height: 8px
            top: 6px
            right: 6px
            position: absolute
            background-color: #6c7588
            border-radius: 50%

    .ai_canva
        .btn_icon
            position: absolute
            left: 34%
            font-size: 20px
            top: 24%
            width: 55px
            height: 45px
            transform: rotate(0deg)!important
            display: flex
            justify-content: center
            align-items: center
            text-shadow: 0px 0px 12px 34px rgba(0,0,0,0.23)
            //background-size: 35px 35px
            background: none!important
            font-family: CenturyGothic-Bold

            //background: url(/img/rotate.png) no-repeat center center!important
    .btn_icon
        position: absolute
        left: 5px
        top: 5px
        width: 25px
        height: 25px
        //transform: rotate(40deg)
        display: inline-block
        background-size: 25px 25px
        //background: url(/img/rotate.png) no-repeat center center!important
        background: url(/img/new-email2.svg) no-repeat center center

    .canva_condition_icon
        position: absolute
        left: 5px
        top: 5px
        width: 25px
        height: 25px
        //transform: rotate(40deg)
        display: inline-block
        background-size: 25px 25px
        //background: url(/img/rotate.png) no-repeat center center!important
        background: url(/img/coding2.svg) no-repeat center center



    .Name
        font-size: 20px
        padding: 0 25px
        width: 100%
        display: inline-block
        overflow: hidden
        text-overflow: ellipsis
        white-space: nowrap
        //position: relative
    button
        display: inline-block
        padding: 10px 15px
        border: none
        border-radius: 3px
        margin: 0 3px
        background: #fff
        border: 1px solid #ccc

    .Canva_btn_edit
        background: #6C7588
        color: white
        transition: all .4s
        &:hover
            background: $RhoverbtnColor
.title
  font-size: 1.7rem
  margin: 0 0 1px 0
  width: 100%
  padding: 12px 25px
  p
    padding: 15px 25px
    font-size: 20px
    position: relative 

  a
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
    max-width: 90%
    display: inline-block
    color: inherit

.canva-block_edit
  transition: all .3s linear
  margin-left: 3px
  position: relative
  vertical-align: middle
  top: -5px
  left: 6px
  cursor: pointer
  height: 15px
  width: 15px
  padding: 15px 20px
  display: inline-block
  background: url(/img/edit1.svg) no-repeat center center
  -webkit-background-size: 15px 15px
  background-size: 15px 15px
  opacity: 0.7
  &:hover
    opacity: 0.9


.arrow_1
    position: absolute
    top: 36%
    left: 5%
.arrow_2
    position: absolute
    top: -10%
    left: 49%

.arrow_3
    position: absolute
    top: 36%
    right: 0%
.arrow_4
    position: absolute
    bottom: 2%
    left: 49%    


.EditMessage
    border: 1px solid #90B4F6
    padding: 10px 15px
    textarea
        height: 100px
        border: 1px solid #90B4F6
        width: 100%
        padding: 10px 15px
        resize: none

.TypingTime
    span
        display: block
        padding: 5px 0

input[type="range"]
    -webkit-appearance: none
    width: 100%
    height: 3px
    background: #90B4F6
    background-position: center
    background-repeat: no-repeat
    position: absolute
    top: 0px
    bottom: 0px
    left: 0px
    right: 0px
    margin: auto
    &:focus
        outline: none

input[type="range"]::-webkit-slider-thumb
    -webkit-appearance: none
    width: 17px
    height: 17px
    border-radius: 100%
    background: radial-gradient(ellipse at center, #7c9fdf 0%,#6390dd 100%)
    position: relative
    z-index: 3
    cursor: pointer

.TypingTime
    position: relative

.inputDnD
    width: calc((100% / 4) + 1px

    .form-control-file
        position: relative
        width: 100%
        height: 100%
        min-height: 3em
        outline: none
        visibility: hidden
        cursor: pointer
        background-color: #c61c23
        box-shadow: 0 0 5px solid currentColor
        &:first-child
            &:before
                border-left: 1px solid #90B4F6
        &:last-child
            &:before
                border-right: 1px solid #90B4F6
        &:before
            content: attr(data-title)
            position: absolute
            top: 0.5em
            left: 0
            width: 100%
            min-height: 3em
            line-height: 2em
            padding-top: 0.5em
            opacity: 1
            visibility: visible
            text-align: center
            border: 1px solid #90B4F6
            border-right: none
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
            overflow: hidden
            &:hover
                background: #EEEEEE

    &:hover
        &:before
            border-style: solid
            box-shadow: inset 0px 0px 0px 0.25em currentColor

.inputDnD
    .add_image_avatar_bot
        position: relative
        // width: 100%
        // height: 100%
        min-height: 3em
        outline: none
        visibility: hidden
        cursor: pointer
        background-color: #c61c23
        box-shadow: 0 0 5px solid currentColor
        width: 18px
        height: 18px
        &:before
            content: ''
            position: absolute
            background: url(/img/share-file.svg) no-repeat center center
            background-size: 18px 18px
            opacity: .7;
            top: 1.4em
            left: 5px
            width: 18px
            height: 18px
            line-height: 2em
            padding-top: 0.5em
            opacity: .7
            visibility: visible
            text-align: center
            // border: 1px solid #90B4F6
            border-right: none
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
            overflow: hidden
            &:hover
                background: #EEEEEE

    &:hover
        &:before
            border-style: solid
            box-shadow: inset 0px 0px 0px 0.25em currentColor




// profile settings
.avatar_settings
    display: block
.user_avatar_profile
    display: inline-block
    max-width: 4rem
    .add_image_avatar_bot
        position: relative
        width: 100%
        height: 100%
        min-height: 3em
        outline: none
        visibility: hidden
        cursor: pointer
        background-color: #c61c23
        box-shadow: 0 0 5px solid currentColor
        //&:first-child
        //    &:before
        //        border-left: 1px solid #90B4F6
        //&:last-child
        //    &:before
        //        border-right: 1px solid #90B4F6
        &:before
            content: attr(data-title)
            position: absolute
            top: 0.5em
            left: 0
            width: 100%
            height: 4rem
            //min-height: 3em
            //line-height: 2em
            padding-top: 0.5em
            opacity: 1
            visibility: visible
            text-align: center
            border-right: none
            background: url(/img/share-file.svg) no-repeat center center
            background-size: 38px 38px
            transition: all 0.3s cubic-bezier(.25, .8, .25, 1)
            overflow: hidden
            &:hover
                background: #EEEEEE




.setting_right
    padding: 10px 15px
    border: 1px solid #90b4f6

.video-react
    background: #fff!important

.video-react.video-react-4-3, .video-react.video-react-16-9, .video-react.video-react-fluid
    padding: 10px 15px
    border: 1px solid #90b4f6!important

.video-react .video-react-video
    padding: 10px 15px

.video-react-controls-enabled
    button
        background: #333

.uploadImage
    height: 100px
    margin: 10px 0
    background: #eee
    border: 1px solid $RhoverbtnColor

.uploadVideo
    height: 100px
    margin: 10px 0
    background: #eee
    border: 1px solid $RhoverbtnColor



// pleer video
.video-react .video-react-big-play-button
    font-size: 3em
    line-height: 1.5em
    height: 2em!important
    width: 2em!important
    display: block
    position: absolute
    top: 50%!important
    left: 50%!important
    border: none
    transform: translate(-50%, -50%)
    background: none
    border: 2px solid #7C9FDF!important
    border-radius: 50%!important
    padding: 0px
    transition: all 0.4s

.video-react .video-react-big-play-button:before, .video-react .video-react-control:before
    top: 7px!important

.video-react .video-react-big-play-button:focus, .video-react:hover .video-react-big-play-button
    outline: 0
    border-color: #7C9FDF
    background-color: #73859f
    background-color: rgba(115,133,159,0.3)
    -webkit-transition: all 0s
    transition: all 0s


.video-react-icon-play-arrow:before,
.video-react .video-react-bezel .video-react-bezel-icon-play:before,
.video-react .video-react-big-play-button:before,
.video-react .video-react-play-control:before
    color: #90B4F6

.video-react button
    background: red
    border: none
    color: inherit
    display: inline-block
    cursor: pointer

audio
    width: 100%

.uploadAudio
    padding: 10px 15px
    border: 1px solid #90b4f6


.EditAddBlock
    margin-top: 10px
    span:not(.ReactTags__tag)
        /* style */
        padding: 5px 0
        display: block
    .btnE
        width: calc((100% / 4) - 1px )
        border: 1px solid #90B4F6
        background: #ECECEC
        transition: .4s all
        padding: 5px 0
        &:hover
            background: #DBDBDB

    .addNLUGroup
        background: #fff
        transition: all .4s
        border: none
        margin-top: 10px
        padding: 7px 25px
        font-size: 13px
        border: 1px solid $RbtnColor
        position: relative
        &:hover
            background: #eaeaea
        &:before
            position: absolute
            content: ''
            width: 20px
            height: 20px
            background: url(/img/users-group.svg) no-repeat center center
            background-size: 20px 20px
            top: 9px
            left: 20px
    .addGroup
        background: #fff
        transition: all .4s
        border: none
        margin-top: 10px
        padding: 10px 25px
        font-size: 13px
        border: 1px solid $RbtnColor
        &:hover
            background: #eaeaea
        &:before
            position: absolute
            content: ''
            width: 20px
            height: 20px
            background: url(/img/group.svg) no-repeat center center
            background-size: 20px 20px
            top: 9px
            left: 20px
        span
            color: $RbtnColor
            display: block
            padding: 0 0 0 20px

    .addRule
        background: $RbtnColor
        transition: all .4s
        border: none
        padding: 10px 25px
        font-size: 13px
        border: 1px solid $RbtnColor
        &:hover
            background: $RhoverbtnColor
        &:before
            position: absolute
            content: ''
            width: 20px
            height: 20px
            background: url(/img/writer.svg) no-repeat center center
            background-size: 17px 17px
            top: 9px
            left: 20px
        span
            color: #fff
            display: block
            padding: 0 0 0 20px    
.bottom_navigator_list
    width: 100%


.btnSave
    background: $RbtnColor
    transition: all .4s
    border: none
    margin-top: 15px
    padding: 10px 25px
    color: white
    font-size: 13px
    &:hover
        background: $RhoverbtnColor
.btnCansel
    background: #DBDBDB
    transition: all .4s
    border: none
    margin-top: 10px
    padding: 10px 15px
    color: black
    font-size: 13px
    &:hover
        background: #cac6c6

.editAddBlock_title
    position: relative
    display: flex
.left_panel
    width: 50%
.right_panel  
    width: 50%
    position: relative
    .question_popup
        top: 0
        right: 0  

.form_group_right_panel
    position: relative
    display: flex
    flex-direction: column
    padding: 0 0 20px 0

    button
        width: 100%

.popup
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    background-color: rgba(0,0,0,.5)
    height: 100%
    width: 100%
    z-index: 999
    transition: opacity 0.3s ease-out

    .popup_inner
        transition: opacity 0.3s ease-out
        background: #fff none repeat scroll 0 0
        padding: 30px 25px
        margin: 0 auto
        margin-top: calc((100% /2) - 30%)
        border: none
        max-width: 400px
        position: relative
        text-align: center
        width: auto

        h1
            line-height: 2
            margin: 0
            padding: 0
            font-size: 25px

        button
            margin: 0 5px
            padding: 10px 35px
            border: none
            border-radius: 3px
            transition: all .4s
            background: #6c7588
            color: white
.redButton
    background: #FF5B31!important
    color: white
    &:hover
        background: #E85029
.grey
    background: #DBDBDB!important
    color: #333!important
    &:hover
        background: #5C6374



.imgPreview
    width: 100%
    height: 150px
    padding: 10px 15px
    border: 1px solid #90b4f6

    img
        width: 100%
        height: 100%

.list_button
    display: flex

.ReactGridGallery
    height: 155px
    border: 1px solid #90b4f6

.tile-viewport
    width: 100%!important
    height: 100%!important

    img
        width: 100%!important
        height: 150px!important
        margin: 0!important

.api_block
    padding: 5px 15px
    border: 1px solid #90b4f6
    input:not(input[type="checkbox"]),

    select
        width: 100%
        padding: 5px 10px



.level
    position: relative
    width: 130px
    height: 130px
    display: inline-block
    vertical-align: top
    border: 1px solid #6C7588
    overflow: hidden
    background-color: #fff
    transform: rotate(45deg)
    padding: 15px 0px 0px 0px
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px

.canva_t
    transform: rotate(-45deg)
    width: 100%
    height: 100%

    span
      font-size: 2.5rem
      position: absolute
      top: 43%
      left: 54%
      transform: translate(-50%,-50%)
      text-transform: uppercase

.ReactTags__tag
    padding: 1px 10px!important
    display: inline-block
    border: 1px solid #ccc
    border-radius: 2px
    margin: 0 1px 3px 2px
    background: #eee
    -o-text-overflow: ellipsis
    text-overflow: ellipsis
    white-space: nowrap
    overflow: hidden
    line-height: 22px

.ReactTags__tagInputField
    width: 100%
    border: 1px solid #90b4f6
    padding: 10px 15px
    &:focus
        outline: none
.ReactTags__remove
    cursor: pointer
    font-size: 20px
    display: inline-block
    margin-top: 5px


//dashboard

.dashboard_top_menu
    position: relative
    z-index: 2
    font-size: 17px
    color: #f1f1f1
    width: 100%
    height: 59px
    padding: 0
    letter-spacing: 1px
    background: #eee
    display: flex

    .dashboard-left
        background: #6c9cf9
        width: 50%
        display: flex
        align-items: center
        justify-content: flex-start
        border-bottom: 1px solid #709df5
        .dashboard-logo
            // padding: 10px 15px
            background-color: #6c9cf9
            a
                color: #fff
                width: 110px
                text-align: center
                display: inline-block
                height: 59px
                padding: 0 15px
                transition: .4s all
                line-height: 70px
                //background: url(/img/logo_chat.png) no-repeat center center
                //background-size: 33px 33px
                display: flex
                align-items: center
                justify-content: center
            img
                max-width: 40px


.dashboard-right
    background: #6c9cf9
    width: 50%
    display: flex
    align-items: center
    justify-content: flex-end
    border-bottom: 1px solid #709df5
    .user
        cursor: pointer
        display: inline-block
        position: relative
        line-height: 64px
        padding: 0 15px 0 0
        &:hover
            .user_popup
                top: 52px
                right: 15px
                opacity: 1
                max-height: 300px
                overflow: visible

        .user_name
            color: #333
            font-size: 15px
            display: block
                
        .user_popup
            position: absolute
            top: 1000px
            right: 0
            width: 120px
            border-radius: 3px
            background-color: #fff
            box-shadow: 0 4px 12px rgba(0,0,0,.2)
            padding: 6px 0
            transition: opacity 60ms cubic-bezier(.22,.61,.36,1)
            overflow: hidden
            opacity: 0
            max-height: 0
            a
                position: static
                display: block
                text-decoration: none
                font-size: 16px
                line-height: 40px
                color: #000
                text-transform: none
                text-align: left
                padding-left: 24px
                margin: 0
                
.dashboard_main
    height: 100vh
    position: relative


.dashboard-login
    padding: 10px 15px
    margin: 10px 0
    span
        display: inline-block
        padding: 10px 5px

.dashboard_list_bot
    overflow-x: auto
    //background: #efefef
.dashboard-bot
    display: flex
    padding: 0 5px 0
    border: 1px solid #c5c5c5
    margin: 10px 0
    border-radius: 5px
    width: 100%
    background: #fff
    //&:hover
    //    border: 1px solid #c5c5c5
    .dashboard-bot_image
        width: 35%
        display: flex
        align-items: center
        justify-content: center
.dashboard-bot_image_1
    background: url(/img/robot.svg) no-repeat center center
    background-size: 60px 60px
    opacity: 0.8
    width: 60%
    height: 80%
    border-radius: 90px
    margin: auto

.dashboard_title
    display: flex
    align-items: center
    padding: 15px 0
    height: 65px
    font-size: 15px
    cursor: pointer
    color: #333
    text-align: center
    width: 100%
    overflow: hidden
    text-overflow: ellipsis
    span
        display: block
        font-size: 20px

.dashboard_btn_group
    display: flex
    padding: 7px 0
    width: 100%
    width: 100%
    justify-content: center
    button
        width: 20.3333%
        padding: 12px 2px
        margin: 0 1px
        border: none
        background-color: #eaeaea
        color: #666

    .edit
        background: url(/img/edit1.svg) no-repeat center center
        background-size: 15px 15px
        opacity: .7
    .delete
        background: url(/img/delete.svg) no-repeat center center
        background-size: 18px 18px
        opacity: .7
    .copy
        background: url(/img/duplicate-square.svg) no-repeat center center
        background-size: 18px 18px
        opacity: .7
    .share
        background: url(/img/sharing-interface.svg) no-repeat center center
        background-size: 18px 18px
        opacity: .7        

.dashboard-bot-settings
    width: 50%
    a
        text-align: center
        display: inline-block
        width: 100%
.list_bots_dashboard
    display: flex
    flex-wrap: wrap
    align-items: center
    .list__item
        display: flex


    //configure settings


.configurate_main
    padding: 10px 15px
    max-width: 665px

.configure_publishing
    width: 100%

.configure_list_page
    width: 100%
    display: flex
    margin: 15px 0 0 0
    .publishing_left
        display: flex
        flex-direction: column
        width: 50%
        position: relative
        h1
            font-size: 20px
            line-height: 35px
            padding: 0
            margin: 0
            font-family: 'CenturyGothic-Bold'
        p
            color: #333
            font-size: 14px
            letter-spacing: 1px
            padding: 0
            margin: 0
    .publishing_right
        width: 50%
        display: flex
        justify-content: flex-end
        button
            padding: 5px 15px
            background: #fff
            border: 1px solid #d0d0d0
            color: #333
            border-radius: 5px
            &:hover
                border: 1px solid #b7b6b6
.configure_list_bottom_page
    height: 240px
    // padding: 5px 10px
    // overflow-y: scroll
    margin-top: 20px

.configure_list_connect
    height: 400px
    overflow-x: auto
    padding: 0 15px
    li
        width: 100%
        height: 15%
        display: flex
        padding: 10px 0
        line-height: 36px

.configure_list_header
    display: flex
    margin: 10px 0 0 0
    padding: 10px 0 0 0
    height: 14%
    .configure_left_bottom
        width: 50%
        span
            font-size: 15px
    .configure_right_bottom
        width: 50%
        display: flex
        justify-content: flex-end
        button
            padding: 5px 20px
            background-color: #6c7588
            border: none
            color: white
            font-size: 15px
        .btn_connect_page
            height: 40px
            border-radius: 2px    


.configure_list_connect
    display: flex
    flex-direction: column
    font-size: 17px
    .configure_bot_left
        width: 40%
        font-size: 15px
    .configure_bot_right
        width: 60%
        display: flex
        justify-content: flex-end
        span
            display: inline-block
            margin-right: 45px
            font-size: 15px
        a
            cursor: pointer
            position: relative
            font-size: 15px
            &:before
                content: ''
                position: absolute
                top: 5px
                left: -35px
                width: 25px
                height: 25px
                background: url(/img/robot.svg) no-repeat center center
                background-size: 25px 25px

.react-date-picker__button
    min-wdith: 25%!important


//    Analytics

.chart_full
    height: calc(100vh - 60px)
    background: #fff
    // overflow: auto


.overlay_chart
    max-width: 1300px


.mainAnalize
    background: #fff
    position: absolute
    width: 100%
    height: calc(100vh - 60px)


.chart_main
    display: flex
    width: 100%
    background: #fff
    padding: 10px 15px
    // max-height: 400px
    // flex-wrap: wrap
    justify-content: space-around

    h2
        font-size: 19px
        //padding: 0 0 0 10px
        font-family: 'CenturyGothic-Bold'
        color: #3d3d3d

    .chart_left
        border: 1px solid #ddd
        min-width: 49%
    .chart_right
        border: 1px solid #ddd
        min-width: 49%

.chart_one
    width: 100%
.chart_three
    width: 33.3333333%


.analyze_header
    display: flex
    align-items: center
    padding: 0 0 10px 0
.analyze_header_caption
    width: 180px
.analyze_header_hint
    //width: 65%
    display: flex
    justify-content: flex-start
.analyze_header_hint_icon
    display: inline-block
    margin-top: 10px
    width: 22px
    height: 22px
    background: url(/img/information.svg) no-repeat center center
    background-size: 22px 22px

.analyze_header_hint_User
    width: 5%
.analyze_header_caption

.settings_social_list
    display: flex
    flex-wrap: wrap

    .setting_social
        display: flex
        flex-direction: column
        padding: 10px 25px
        margin: 10px 3px
        border: 1px solid #ddd
        text-align: center
        width: 49%
        span
            display: inline-block
            margin-top: 5px

.setting_social_name
    font-size: 16px
    padding: 10px 0
    font-family: 'CenturyGothic-Bold'
    color: #666

.setting_social_button
    padding: 10px 10px
    border-radius: 2px
    background: #6c7588
    color: white
    border: 1px solid #eee
    margin-bottom: 10px
    transition: .4s all
    max-width: 70%
    margin: auto
    &:hover
        background: $RhoverbtnColor
    &:focus
        outline: none


.Select-control
    background-color: #fff
    border-radius: 0px!important
    border: none!important
    color: #000!important
    cursor: default
    display: table
    border-spacing: 0
    border-collapse: separate
    height: 36px!important
    outline: none
    overflow: hidden
    position: relative
    width: 100%
    margin: 0!important

.filter_width
    display: flex
    justify-content: space-between
.filter_f_width
    width: 24%    
        
.client_bot_wrap
    max-width: 1550px
    overflow: hidden
    margin: 0 auto
    height: 100%
    padding: 0 15px

.myComponent
    transition: height 1s linear
    // height: 400px

.top_bots
    padding: 20px 0 40px 0
    // background: linear-gradient(to right, #5a5af3 1%,#8aa9ff 100%)
    background: #78a5fe
    width: 100%
    position: relative
    transition: height 1s linear
.top_bots.extend
    height: 400px!important
    // height: auto
.client_list_admin
    display: flex
    height: 100%
    justify-content: flex-start
    position: relative
    flex-wrap: wrap

.class_list_add
    position: absolute
    bottom: -15px
    left: 50%
    transform: translate(-50%,-50%)
    width: 100px
    height: 30px
    background: none
    text-align: center

.icon_top_position
    position: absolute
    bottom: 20px
    left: 50%
    cursor: pointer
    transform: translate(-50%,-50%)

.class_list_icon
    position: absolute
    content: ''
    top: 50%
    left: 50%
    width: 20px
    height: 20px
    background: url(/img/down-button.svg) no-repeat center center
    background-size: 20px 20px
    transform: translate(-50%,-50%)
    transition: all .4s ease
    &.toggled
        transform: translate(-50%,-50%) rotate(180deg)

        

._bot_client
    margin-bottom: 13px
    display: flex

.client_bot_admin
    border-radius: 5px
    background-color: #FFF
    display: flex
    height: 102px
    &:hover
        background-color: #fff
        .span_ov
            display: flex
            width: 100%
            padding: 0 15px
            align-items: center
            box-shadow: 0 4px 6px 0 rgba(0,0,0,.24)
            border-radius: 15px
            .span_ov_icon
                width: 30%
                height: 100%
                background: #fff
                position: relative
                &:before
                    position: absolute
                    content: ''
                    top: 50%
                    left: 50%
                    width: 30px
                    height: 30px
                    transform: translate(-50%,-50%)
                    background: url(/img/add.svg) no-repeat center center
                    background-size: 30px 30px
            .span_ov_add
                width: 70%
                text-align: center
                span
                    font-size: 16px
                    display: block
        .admin_bot_image
            display: none 
        .admin_bot_settings
            display: none       
// .admin_bot_image
//     max-width: 60px
//     max-height: 60px
//     overflow: hidden
//     // background: url(/img/robot.svg) no-repeat center center
//     // background-size: 50px 50px
//     opacity: .8

.admin_bot_settings
    width: 60%
    display: flex
    align-items: center

.span_ov
    display: none    


.admin_bot_image
    display: flex
    overflow: hidden
    max-width: 60px
    max-height: 60px
    img
        width: 100%
        height: 100%
        margin: auto
        border-radius: 7px

.configure_facebook_connect,
.configure_skype_connect,
.configure_slack_connect,
.configure_site_connect
    width: 49.5%
    height: 350px
    padding: 10px 5px
    h2
        font-size: 20px
        font-family: 'CenturyGothic-Bold'
        color: #666


.configure_connect_top,
.configure_connect_bottom
    height: 350px
    width: 100%
    display: flex
    justify-content: space-between
.configure_connect_top
    margin-bottom: 10px

.connect_wrap
    padding: 5px 10px
    border: 1px solid #ddd
    height: 350px
    position: relative

.wrap_filter_laber
    width: 100%
    display: flex
    label
        display: inline-block
        vertical-align: middle
        margin: 0 5px 0 0
        cursor: pointer
    input
        display: inline-block
    
    // .image_configurate_block
    //     width: 100%


.image_configurate_block #ReactGridGallery
    width: 100%
    background: #ccc

// .image_configurate_block
//     width: 100%

.admin_bot_title_icon
    display: flex
    align-items: center
    justify-content: flex-end

.edit_icon
    display: inline-block
    width: 30px
    height: 30px
    background: url(/img/edit1.svg) no-repeat center center
    background-size: 15px 15px
    opacity: .7
    border: 1px solid #ededed
// .delete_icon
//     display: inline-block
//     width: 30px
//     height: 30px
//     background: url(/img/delete.svg) no-repeat center center
//     background-size: 18px 18px
//     opacity: .7
//     border: 1px solid #ededed

 // .chart_wrap
 //    display: flex   


.delete_icon
    display: inline-block
    width: 30px
    height: 30px
    background: url(/img/delete.svg) no-repeat center center
    background-size: 15px 15px
    opacity: 0.7
    border: 1px solid #ededed


.listPie
    display: flex
    width: 100%
    height: 100%
    align-items: center
    justify-content: center
    .pie
        width: 33%
        display: flex
        justify-content: center

.pieWrap
    display: flex
    width: 100%
    align-items: center        

.cansel
    position: absolute
    border: none
    width: 20px
    height: 20px
    background: url(/img/multiply.svg) no-repeat center center
    background-size: 20px 20px
    top: 10px
    right: 10px
    opacity: 0.5

.popup_manual
    width: 100%
    height: 100vh
    position: absolute
    top: 0
    left: 0
    z-index: 9999
    background-color: rgba(0,0,0,.5)


.popup_manual_edit
    padding: 30px 0
    margin: 0 auto
    margin-top: calc((100% / 2) - 45%)
    border: none
    max-width: 650px
    background: #fff
    z-index: 999
    position: relative
    h3
        font-size: 18px
        font-family: 'CenturyGothic-Bold'
.manual_image
    img
        width: 100%
        height: 100%
        margin: 0 auto        

.manual_img
    max-width: 500px
    // height: auto
    // margin: auto
    margin-bottom: 10px
.question_popup
   position: absolute
   width: 30px
   height: 30px
   cursor: pointer
   right: 10px
   top: 17px
   border: 1px solid #78a5fe
.icon_question
    position: absolute
    width: 20px
    height: 20px
    background: url(/img/question.svg) no-repeat center center
    background-size: 20px 20px
    right: 15%
    top: 13%
    opacity: 0.9


.no_data
    position: absolute
    top: 0 
    left: 0
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%)
    width: 100%
    height: 100%
    .content_none_data
        margin: 0 auto
        max-width: 600px
        height: 100%
        display: flex
        align-items: center
        justify-content: center
        h1
            padding: 20px 0
            font-size: 30px
            margin: 0 0 100px 0
            text-align: center
            font-family: 'CenturyGothic-Bold'

.popup_scroll
    position: relative
    height: 700px
    margin-top: 20px

.popup_content
    padding: 15px 25px                



.help_main
    position: absolute
    bottom: 10px
    right: 20px
    width: 30px
    height: 40px
    background-color: #ccc



.block_overlay_svg
    display: block
    width: 100%
    overflow-x: auto
.block_main_full
    width: 100%
    max-width:
    height: 100vh


.overlay_block
    //width: 100%
    height: 100%
    // min-width: 900px
    min-height: 768px
    overflow-x: scroll
    overflow-y: scroll

.block_w
    min-width: 1400px
    // width: 1400px
    height: 100vh

.svg_full
    width: 100%
    height: 100%


.profile_settings
    padding: 10px 20px

.conditions
    border: 1px solid #6c7588


.__react_component_tooltip
    transition: opacity 0.1s ease-out!important



.img_picture_user
    width: 42px
    height: 42px
    overflow: hidden
    border-radius: 50%
    border: 2px solid #ccc
    img
        width: 100%
        height: 100%


.nav>li>a:focus, .nav>li>a:hover
    background: none



.broad_main_2
    position: relative
    height: calc(100vh - 60px)
    overflow-y: auto
    /* padding: 0; */  

.close
    opacity: 0.4!important

.close_popup_btn
    position: absolute
    top: 10px
    right: 20px


.h450
    height: 450px



.textare_block_size
    display: flex
    align-items: flex

.textarea_help
    display: block
    width: 10%
    span
        font-size: 20px
        color: #6c7588
        margin-top: 10px
        display: inline-block

.textarea_text
    width: 90%

.border_dasboard
    border: 1px solid #eee


.analyse_content
    min-height: 6rem

.__react_bs_dd_menuItems
    left: -162px!important




//menu component
.nav_top_menu
    display: flex
    padding: 0 10px


.link
    //width: 100px
    padding: 10px
    text-align: center
    position: relative
    cursor: pointer

.list_top_menu
    text-align: left
    li
        padding: 4px 0
        a
            display: inline-block
            padding: 3px 5px
            font-weight: 400
            line-height: 1.42857143
            color: #333
            white-space: nowrap
            font-size: 14px

.menu
    display: none
    opacity: 0
    position: absolute
    top: 50px // same as your nav height
    left: -50px
    background: #ededed
    border: 1px solid gray
    padding: 10px
    text-align: center
    transition: all 1000ms ease

.menu.open
    opacity: 1
    display: block

ul
    margin: 0
    padding: 0
    list-style: none



.canva_group
    position: absolute
    width: 25px
    height: 25px
    top: 10px
    left: 13px
    background: url(/img/group.svg) no-repeat center center
    background-size: 25px 25px


.chat_message
    border: 1px solid #dfdfdf
    padding: 10px 20px 10px 5px
    margin-bottom: 10px
    background-color: #fff
    box-shadow: 3px -1px 66px -5px rgba(150,150,150,0.2)

    .chat_name
        text-align: left
        font-family: 'CenturyGothic-Bold'
    .chat_text
        padding: 10px 0
    .chat_text_ins
        padding: 10px 0
    .chat_date
        font-size: 12px
        color: #777


    .message_buttom
        border: 1px solid #eee
        font-size: 13px
        cursor: pointer

.chat_icon--avatar
    width: 40px
    height: 40px
    border-radius: 150px
    background-color: #eee
    margin: auto
    img
        width: 40px
        height: 40px
        border-radius: 50%
    &.user
        background: url(/img/avatar_chat/user.svg) no-repeat center center
        background-size: 40px 40px
    &.bot
        background: url(/img/avatar_chat/robot-face.svg) no-repeat center center
        background-size: 40px 40px

.mini_admin
    background: url(/img/avatar_chat/admin.svg) no-repeat center center
    background-size: 25px 25px


.left__user__chat--answer
    color: #666
    font-size: 12px

.left__user__chat--answer--2
    font-size: 11px
    color: #666


.chat__avatar__ad__bot
    img
        width: 30px
        height: 30px
        border-radius: 50%
        border: 1px solid #eaeaea

.dialog_message_block
    height: 20vh
    display: block
    text-align: center
    margin: auto


.chat_message_avatar
    img
        width: 40px
        height: 40px
        border-radius: 50%

.button__message_textarea
    width: 100%
    padding: 7px 10px
    box-sizing: border-box
    margin: 5px 0
    border: 1px solid #d2dae3
    transition: all .4s
    &:focus
        border: 1px solid #4444b8
        outline: none

.button__message
    width: 100%
    height: 79px
    justify-content: center
    border: 1px solid #d2dae3
    padding: 7px 10px
    margin: 5px 0
    cursor: pointer
    display: flex
    align-items: center
    transition: all .4s
    background-color: #fff
    &:hover
        border: 1px solid #4444b8
    i
        color: #666

.btn__all--small
    padding: 7px 15px
    color: #333
    border: 1px solid #d2dae3
    transition: .3s linear all
    background-color: #FFF
    border-radius: 3px
    cursor: pointer
    &:hover
        border: 1px solid #dfdfdf
        background-color: #eaeaea
    &:focus
        outline: none

.MessageList
    overflow-y: scroll


.select__intent


@import "media"
